  <!-- -------- START FOOTER 7 w/ DARK BACKGROUND AND 3 COLUMNS ------- -->
  <footer class="footer py-5 bg-gradient-dark position-relative overflow-hidden">
    <img src="/static/assets/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute start-0 top-0 w-100 opacity-1" loading="lazy">
    <div class="container position-relative">
      <div class="row">
        <div class="col-lg-4 me-auto my-auto text-lg-start text-center">
          <h6 class="text-white font-weight-bold text-uppercase mb-2">Material Design</h6>
          <p class="text-white">
            &copy; <a href="_blank" href="https://bit.ly/3fKQZaL">Creative Tim</a> - coded by AppSeed.
          </p>
        </div>
        <div class="col-lg-2 col-sm-4 col-12 ms-md-auto text-lg-start text-center mb-sm-0 mb-4">
          <div>
            <h6 class="text-white text-sm mb-1">Company</h6>
            <ul class="flex-column ms-lg-n3 nav">
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:;" target="_blank">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:;" target="_blank">
                  Careers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:;" target="_blank">
                  Press
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-12 text-lg-start text-center mb-sm-0 mb-4">
          <div>
            <h6 class="text-white text-sm mb-1">Pages</h6>
            <ul class="flex-column ms-lg-n3 nav">
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:;" target="_blank">
                  Login
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:;" target="_blank">
                  Register
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:;" target="_blank">
                  About
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-12 text-lg-start text-center mb-sm-0 mb-4">
          <div>
            <h6 class="text-white text-sm mb-1">Products</h6>
            <ul class="flex-column ms-lg-n3 nav">
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:;" target="_blank">
                  Free
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:;" target="_blank">
                  PRO
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:;" target="_blank">
                  Latest
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- -------- END FOOTER 7 w/ DARK BACKGROUND AND 3 COLUMNS ------- -->
