  <!-- ---- START FOOTER 6 dark w/ 3 cols and subscribe area ---- -->
  <footer class="footer pb-4">
    <div class="container">
      <div class="row ">
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-sm">Company</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-body" href="https://www.creative-tim.com" target="_blank">
                Marketing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="https://www.creative-tim.com" target="_blank">
                Analytics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="https://www.creative-tim.com" target="_blank">
                Insights
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-sm">Support</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-body" href="https://www.creative-tim.com" target="_blank">
                Pricing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="https://www.creative-tim.com" target="_blank">
                Docs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="https://www.creative-tim.com" target="_blank">
                Guides
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-sm">Company</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-muted" href="https://www.creative-tim.com/presentation" target="_blank">
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" href="https://www.creative-tim.com/blog" target="_blank">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" href="https://www.creative-tim.com" target="_blank">
                Jobs
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-5 col-12 ms-auto mt-4 mt-md-0">
          <h6 class="text-sm">Subscribe</h6>
          <p class="text-sm">Get access to subscriber exclusive deals and be the first who gets informed about fresh sales.</p>
          <div class="row">
            <div class="col-md-8 col-7">
              <div class="input-group input-group-outline">
                <label class="form-label">Email</label>
                <input type="email" class="form-control">
              </div>
            </div>
            <div class="col-md-4 col-5">
              <button type="button" class="btn bg-gradient-info">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ---- END FOOTER 6 dark w/ 3 cols and subscribe area ---- -->
  