
{% extends "layouts/base.html" %}

{% block title %} Career {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block body_class %} career bg-gray-200 {% endblock %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %}

  <!-- End Navbar -->
  <!-- -------- START HEADER 10 w/ floating img and bg  ------- -->
  <header class="position-relative">
    <div class="page-header min-vh-75 position-relative" style="background-image: url('https://images.unsplash.com/photo-1460794418188-1bb7dba2720d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');" loading="lazy">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center mx-auto mt-md-n7">
            <h4 class="text-white fadeIn1 fadeInBottom">Join Our Team</h4>
            <h1 class="text-white fadeIn2 fadeInBottom">Work with the rockets</h1>
            <p class="lead mb-5 fadeIn3 fadeInBottom text-white opacity-8">We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game</p>
            <button type="submit" class="btn bg-white me-2 fadeIn1 fadeInBottom">Get started</button>
            <button type="submit" class="btn bg-white btn-icon-only rounded-circle fadeIn1 fadeInBottom"><i class="fas fa-play"></i></button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 10 w/ floating img and bg  ------- -->

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <!-- -------- START Features w/ 4 infos - just colored icons -------- -->
    <section class="pt-7 pb-5">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-3 col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-5xl">room</i>
              <h5 class="mt-3">Good Location</h5>
              <p class="font-weight-normal">We get insulted by others, lose trust for those We get back.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-5xl">record_voice_over</i>
              <h5 class="mt-3">Great Co-Workers</h5>
              <p class="font-weight-normal">We get insulted by others, lose trust for those We get back.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-5xl">school</i>
              <h5 class="mt-3">Learn Opportunity</h5>
              <p class="font-weight-normal">We get insulted by others, lose trust for those We get back.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-5xl">savings</i>
              <h5 class="mt-3">Performance Benefits</h5>
              <p class="font-weight-normal">We get insulted by others, lose trust for those We get back.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- -------- END Features w/ 4 infos - just colored icons -------- -->
    <!-- -------- START Features w/ 6 cols w/ company logos & title & text -------- -->
    <section class="py-sm-7 py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>Job openings</h2>
            <p class="font-weight-normal">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
          </div>
          <div class="col-lg-6 text-end d-flex flex-column justify-content-center">
            <button type="button" class="btn bg-gradient-primary mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">See all</button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
            <img class="width-32-px mb-3" src="/static/assets/img/logos/small-logos/logo-dribbble.svg" alt="logo">
            <h5>Data Analyst</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
            <img class="width-32-px mb-3" src="/static/assets/img/logos/small-logos/logo-github.svg" alt="logo">
            <h5>Product Designer</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
            <img class="width-32-px mb-3" src="/static/assets/img/logos/small-logos/logo-amazon.svg" alt="logo">
            <h5>E-commerce Developer</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
            <img class="width-32-px mb-3" src="/static/assets/img/logos/small-logos/logo-google-cloud.svg" alt="logo">
            <h5>Digital Product Design</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
            <img class="width-32-px mb-3" src="/static/assets/img/logos/small-logos/logo-zoom.svg" alt="logo">
            <h5>Communication Agent</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
            <img class="width-32-px mb-3" src="/static/assets/img/logos/small-logos/logo-twitter.svg" alt="logo">
            <h5>Logo Designer</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
        </div>
      </div>
    </section>
    <!-- -------- END Features w/ 6 cols w/ company logos & title & text -------- -->
    <!-- START Testimonials w/ bg image & faded gradient & company logo -->
    <section class="pt-4 pb-7 position-relative">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-10 mx-auto">
            <div id="carouselExampleTestimonials-11" class="carousel carousel-fade slide shadow-lg" data-bs-ride="carousel">
              <ol class="carousel-indicators z-index-2">
                <li data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="1"></li>
              </ol>
              <div class="carousel-inner border-radius-lg">
                <div class="carousel-item bg-cover max-height-400 active" style="background-image: url('https://images.unsplash.com/photo-1620266757065-5814239881fd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80')" loading="lazy">
                  <div class="z-index-1 my-md-8 my-6 position-relative z-index-2">
                    <div class="row h-100">
                      <div class="col-xl-6 my-auto px-6">
                        <h5 class="text-white font-weight-normal mb-3">
                          "Decisions: If you can’t decide, the answer is no. If two equally difficult paths,
                          choose the one more painful in the short term(pain avoidance is creating an illusion of equality)."
                        </h5>
                        <p class="text-white font-weight-bold">Michael Lerson, <span class="text-xs font-weight-normal">Project Manager </span></p>
                      </div>
                      <div class="col-xl-6 my-auto px-7 mt-md-auto mt-4">
                        <img src="/static/assets/img/logos/white-logos/logo-behance-white.svg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                  </div>
                  <span class="mask bg-gradient-faded-dark opacity-10 z-index-0 border-radius-lg"></span>
                </div>
                <div class="carousel-item bg-cover max-height-400" style="background-image: url('https://images.unsplash.com/photo-1614727187346-ec3a009092b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1957&q=80')" loading="lazy">
                  <div class="z-index-1 my-md-8 my-6 position-relative z-index-2">
                    <div class="row h-100">
                      <div class="col-xl-6 my-auto px-6">
                        <h5 class="text-white font-weight-normal mb-3">
                          " Knowledge is either from direct experience or from verifiable, falsifiable science.
                          There is knowledge that is transmitted but not verifiable / falsifiable. They're slowed down by their perception of themselves. "
                        </h5>
                        <p class="text-white font-weight-bold">Louis Miriam, <span class="text-xs font-weight-normal">COO</span></p>
                      </div>
                      <div class="col-xl-6 my-auto px-7 mt-md-auto mt-4">
                        <img src="/static/assets/img/logos/white-logos/logo-nasa-white.svg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                  </div>
                  <span class="mask bg-gradient-faded-warning opacity-10 z-index-0 border-radius-lg"></span>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-lg-2 col-4 ms-auto">
                <a href="javascript:;" data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="0" class="active">
                  <img src="/static/assets/img/logos/medium-logos/logo-behance.svg" class="d-block w-100 opacity-4" alt="...">
                </a>
              </div>
              <div class="col-lg-2 col-4 me-auto">
                <a href="javascript:;" data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="1">
                  <img src="/static/assets/img/logos/medium-logos/logo-nasa.svg" class="d-block w-100 opacity-4" alt="...">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END Testimonials w/ bg image & faded gradient & company logo -->
    <!-- -------- START PRE-FOOTER 7 w/ TEXT AND 2 BUTTONS ------- -->
    <section class="my-5 py-5 bg-gradient-dark position-relative overflow-hidden mx-n3">
      <img src="/static/assets/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute start-0 top-0 w-100 opacity-1">
      <div class="container position-relative z-index-2">
        <div class="row">
          <div class="col-lg-5 col-md-8 m-auto text-start">
            <h5 class="text-white mb-lg-0 mb-5">
              You only have to do a few things right in your life so long as you don’t do too many things wrong.
            </h5>
          </div>
          <div class="col-lg-6 m-auto">
            <div class="row">
              <div class="col-sm-4 col-6 ps-sm-0 ms-auto">
                <button type="button" class="btn bg-gradient-primary mb-0 ms-lg-3 ms-sm-2 mb-sm-0 mb-2 me-auto w-100 d-block">Apply Now</button>
              </div>
              <div class="col-sm-4 col-6 ps-sm-0 me-lg-0 me-auto">
                <button type="button" class="btn btn-white mb-0 ms-lg-3 ms-sm-2 mb-sm-0 mb-2 me-auto w-100 d-block">Our Story</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- -------- END PRE-FOOTER 7 w/ TEXT AND 2 BUTTONS ------- -->
    <section class="pb-6">
      <div class="container">
        <div class="row text-start">
          <div class="col-lg-6">
            <h3 class="text-dark mt-4 mb-0">Our latest blogs</h3>
            <p>That’s my skill. I’m not really specifically talented at anything except for the ability to learn. That’s what I do. That’s what I’m here for.</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-4 mb-lg-0 mb-4">
            <!-- Start Card Blog Fullbackground - text centered -->
            <a href="javascript:;">
              <div class="card card-background">
                <div class="full-background" style="background-image: url('/static/assets/img/examples/blog1.jpg')" loading="lazy"></div>
                <div class="card-body pt-12">
                  <h4 class="text-white">Search and Discovery</h4>
                  <p class="text-white">Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards we tend to offer the best product on market.</p>
                </div>
              </div>
            </a>
            <!-- End Card Blog Fullbackground - text centered -->
          </div>
          <div class="col-lg-4 mb-lg-0 mb-4">
            <!-- Start Card Blog Fullbackground - text centered -->
            <a href="javascript:;">
              <div class="card card-background">
                <div class="full-background" style="background-image: url('/static/assets/img/examples/blog2.jpg')" loading="lazy"></div>
                <div class="card-body pt-12">
                  <h4 class="text-white">Last visits in US</h4>
                  <p class="text-white">Wealth creation is an evolutionarily recent positive-sum game. Status is an old zero-sum game. Those attacking wealth creation are often just seeking status.</p>
                </div>
              </div>
            </a>
            <!-- End Card Blog Fullbackground - text centered -->
          </div>
          <div class="col-lg-4">
            <!-- Start Card Blog Fullbackground - text centered -->
            <a href="javascript:;">
              <div class="card card-background">
                <div class="full-background" style="background-image: url('/static/assets/img/examples/blog3.jpg')" loading="lazy"></div>
                <div class="card-body pt-12">
                  <h4 class="text-white">Grow in a beautiful area</h4>
                  <p class="text-white">Free people make free choices. Free choices mean you get unequal outcomes. You can have freedom, or you can have equal outcomes. You can’t have both.</p>
                </div>
              </div>
            </a>
            <!-- End Card Blog Fullbackground - text centered -->
          </div>
        </div>
      </div>
    </section>
  </div>

  {% include 'includes/footer-2.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    if (document.getElementsByClassName('rellax')) {
      // Also can pass in optional settings block
      var rellax = new Rellax('.rellax', {
        speed: -2,
        center: false,
        wrapper: null,
        round: true,
        vertical: true,
        horizontal: false
      });
    }
  </script>
  <script>
    if (document.getElementById('language-button')) {
      var element = document.getElementById('language-button');
      const example = new Choices(element, {
        searchEnabled: false
      });
    }
    if (document.getElementById('currency-button')) {
      var element = document.getElementById('currency-button');
      const example = new Choices(element, {
        searchEnabled: false
      });
    }
  </script>

{% endblock %}
