{% extends "layouts/base.html" %}

{% block title %} Case Study {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block body_class %} case-study bg-gray-200 {% endblock %}

{% block content %}
  
  {% include 'includes/navigation.html' %}

  <!-- -------- START HEADER 8 w/ card over right bg image ------- -->
  <header>
    <div class="page-header min-vh-85">
      <div>
        <img class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="https://images.unsplash.com/photo-1538681105587-85640961bf8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="image" loading="lazy">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 d-flex">
            <div class="card card-body blur text-md-start text-center px-sm-5 shadow-lg mt-sm-5 py-sm-5">
              <h2 class="text-dark mb-0">Material Kit.</h2>
              <h2 class="text-dark mb-4">Choose the best</h2>
              <p class="lead text-dark pe-md-5 me-md-5">
                Find the story of Creative Tim&#39;s most complex design system and
                all the work that make this design available.
              </p>
              <div class="buttons">
                <button type="button" class="btn btn-rounded bg-gradient-primary mt-4">Contact Us</button>
                <button type="button" class="btn btn-rounded btn-outline-secondary mt-4 ms-2">Read More</button>
              </div>
              <div class="row mt-2">
                <div class="col-md-3 col-6 p-0">
                  <img class="w-100" src="/static/assets/img/logos/gray-logos/logo-pinterest.svg" alt="logo">
                </div>
                <div class="col-md-3 col-6 p-0">
                  <img class="w-100" src="/static/assets/img/logos/gray-logos/logo-netflix.svg" alt="logo">
                </div>
                <div class="col-md-3 col-6 p-0">
                  <img class="w-100" src="/static/assets/img/logos/gray-logos/logo-coinbase.svg" alt="logo">
                </div>
                <div class="col-md-3 col-6 p-0">
                  <img class="w-100" src="/static/assets/img/logos/gray-logos/logo-nasa.svg" alt="logo">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 8 w/ card over right bg image ------- -->
  
  <!-- -------- START Features w/ 4 infos - just colored icons -------- -->
  <section class="py-md-7 pb-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-3 col-md-6">
          <div class="info">
            <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
              <i class="material-icons opacity-10">grid_view</i>
            </div>
            <h5 class="mt-3">Components</h5>
            <p>Choose the best design system for your next product.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="info">
            <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
              <i class="material-icons opacity-10">brush</i>
            </div>
            <h5 class="mt-3">Design</h5>
            <p>Get the latest design ideas and turn it into reality.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="info">
            <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
              <i class="material-icons opacity-10">code</i>
            </div>
            <h5 class="mt-3">Less Code</h5>
            <p>Make your code easier to maintain using variables.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="info">
            <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
              <i class="material-icons opacity-10">devices</i>
            </div>
            <h5 class="mt-3">Fully Responsive</h5>
            <p>This design system is fully supported on any device.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- -------- END Features w/ 4 infos - just colored icons -------- -->
  
  <!-- START Blogs w/ 3 images & quote & text -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 ms-auto me-auto text-center">
          <h2>From nothing to something</h2>
          <p>
            The highest status people in human history are those that asked for nothing and gave everything
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 position-relative">
          <div class="position-relative ms-md-5 me-md-n5">
            <div class="blur-shadow-image">
              <img class="image-left border-radius-lg img-fluid position-relative top-0 end-0 bg-cover" src="https://images.unsplash.com/photo-1576425955345-f48eae74fc44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2378&q=80" alt="image" loading="lazy">
            </div>
          </div>
          <p class="blockquote border border-primary rounded w-50 p-3 text-sm text-primary float-md-end mt-4 me-md-n2 mx-auto">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
            <br>
            <br>
            <small>-NOAA</small>
          </p>
          <!-- Second image on the left side of the article -->
          <div class="position-absolute bottom-0 mb-5 ms-n2 me-3 start-0 end-2 d-md-block d-none">
            <div class="blur-shadow-image">
              <img class="image-container border-radius-lg img-fluid position-relative bg-cover" src="https://images.unsplash.com/photo-1474039369477-5e74ff1f0e57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" alt="image" loading="lazy">
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <!-- First image on the right side, above the article -->
          <div class="position-relative ms-n4 mb-5 mt-8 d-md-block d-none">
            <div class="blur-shadow-image">
              <img class="image-right border-radius-lg img-fluid position-relative bg-cover" src="https://images.unsplash.com/photo-1474039208682-b72b9e7bbe6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" alt="image" loading="lazy">
            </div>
          </div>
          <h3 class="mb-4">So what does the new record for the lowest level of winter ice actually mean</h3>
          <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
          </p>
          <p>
            For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
          </p>
          <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- END Blogs w/ 3 images & quote & text -->
  
  <section class="bg-gradient-dark position-relative overflow-hidden mt-5">
    <img src="/static/assets/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute opacity-1 w-100">
    <div class="container py-lg-4 py-2">
      <div class="row">
        <div class="col-lg-6 d-flex justify-content-center flex-column">
          <div id="carouselExampleIndicator" class="carousel slide py-7" data-bs-ride="carousel">
            <div class="carousel-indicators justify-content-start ms-0">
              <a href="javascript:;">
                <img src="/static/assets/img/team-4.jpg" alt="..." class="avatar avatar-sm avatar-scale-up border-radius-lg shadow border-0 active" data-bs-target="#carouselExampleIndicator" data-bs-slide-to="0">
                <span class="text-white mx-2">&#124;</span>
              </a>
              <a href="javascript:;">
                <img src="/static/assets/img/team-3.jpg" alt="..." class="avatar avatar-sm avatar-scale-up border-radius-lg shadow border-0" data-bs-target="#carouselExampleIndicator" data-bs-slide-to="1">
                <span class="text-white mx-2">&#124;</span>
              </a>
              <a href="javascript:;">
                <img src="/static/assets/img/team-2.jpg" alt="..." class="avatar avatar-sm avatar-scale-up border-radius-lg shadow border-0" data-bs-target="#carouselExampleIndicator" data-bs-slide-to="2">
              </a>
            </div>
            <div class="carousel-inner">
              <h2 class="text-white mb-0">Work with us</h2>
              <p class="text-white opacity-8 mb-1">Whatever your qualification is - we got you!</p>
              <hr class="text-white horizontal opacity-6 mb-4 mt-2 w-25 text-start">
              <div class="carousel-item active">
                <h6 class="text-white opacity-8 pe-5">"Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea.
                  Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
                  This is the way to success. A single rose can be my garden... a single friend, my world."</h6>
                <div class="author mt-4">
                  <div class="name">
                    <span class="text-white">Ludwig Siato</span>
                    <div class="stats">
                      <small class="text-white opacity-6">Project manager, Apple</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <h6 class="text-white opacity-8 pe-5">"Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea.
                  Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
                  This is the way to success. A single rose can be my garden... a single friend, my world."</h6>
                <div class="author mt-4">
                  <div class="name">
                    <span class="text-white">John Down</span>
                    <div class="stats">
                      <small class="text-white opacity-6">CFO, Google</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <h6 class="text-white opacity-8 pe-5">"Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea.
                  Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
                  This is the way to success. A single rose can be my garden... a single friend, my world."</h6>
                <div class="author mt-4">
                  <div class="name">
                    <span class="text-white">Mark Jojansen</span>
                    <div class="stats">
                      <small class="text-white opacity-6">Fullstack Developer, Atlassian</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 justify-content-center flex-column d-sm-none d-md-none d-lg-flex d-xl-flex">
          <div class="row justify-content-center d-none d-md-flex">
            <div class="col-3 mb-4">
              <div class="d-block bg-white avatar avatar-lg border-radius-lg p-3 mt-n4 ms-8 fadeIn2 fadeInBottom">
                <img src="/static/assets/img/logos/small-logos/logo-zoom.svg" alt="Logo Image">
              </div>
            </div>
            <div class="col-4 mb-4">
              <div class="d-block bg-white avatar avatar-lg border-radius-lg p-3 ms-8 mt-n6 fadeIn1 fadeInBottom">
                <img src="/static/assets/img/logos/small-logos/logo-google-cloud.svg" alt="Logo Image">
              </div>
            </div>
            <div class="col-4 mb-4">
              <div class="d-block bg-white avatar avatar-lg border-radius-lg p-3 ms-6 mt-2 fadeIn3 fadeInBottom">
                <img src="/static/assets/img/logos/small-logos/logo-github.svg" alt="Logo Image">
              </div>
            </div>
          </div>
          <div class="row justify-content-end d-none d-md-flex">
            <div class="col-4 my-4">
              <div class="d-block bg-white avatar avatar-lg border-radius-lg p-3 ms-4 fadeIn1 fadeInBottom">
                <img class="avatar-img" src="/static/assets/img/logos/small-logos/logo-amazon.svg" alt="Logo Image">
              </div>
            </div>
            <div class="col-3 my-4">
              <div class="d-block bg-white avatar avatar-lg border-radius-lg p-3 me-auto fadeIn1 fadeInBottom">
                <img class="avatar-img" src="/static/assets/img/logos/small-logos/logo-apple.svg" alt="Logo Image">
              </div>
            </div>
            <div class="col-3 my-4">
              <div class="d-block bg-white avatar avatar-lg border-radius-lg p-3 fadeIn3 fadeInBottom ms-3 mt-3">
                <img class="avatar-img" src="/static/assets/img/logos/small-logos/logo-twitter.svg" alt="Logo Image">
              </div>
            </div>
          </div>
          <div class="row d-none d-md-flex">
            <div class="col-6">
              <!-- Logo -->
              <div class="d-block bg-white avatar avatar-lg border-radius-lg p-3 ms-auto mt-5 fadeIn2 fadeInBottom">
                <img class="avatar-img" src="/static/assets/img/logos/small-logos/logo-youtube.svg" alt="Logo Image">
              </div>
              <!-- End Logo -->
            </div>
            <div class="col-6 mt-6">
              <!-- Logo -->
              <div class="d-block bg-white avatar avatar-lg border-radius-lg p-3 mx-auto mt-n3 fadeIn3 fadeInBottom">
                <img class="avatar-img" src="/static/assets/img/logos/small-logos/logo-dribbble.svg" alt="Logo Image">
              </div>
              <!-- End Logo -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="py-7">
    <div class="container">
      <div class="row">
        <div class="col-md-5 ms-auto me-auto text-center">
          <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
            <i class="material-icons opacity-10">engineering</i>
          </div>
          <h3 class="text-dark mb-0 mt-3">How To Handle The Components</h3>
          <p>We’re constantly trying to express ourselves and actualize our dreams. Don't stop.</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4 ms-auto my-auto">
          <div class="cursor-pointer">
            <div class="card card-background">
              <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1507207611509-ec012433ff52?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80')"></div>
              <div class="card-body pt-7 text-center">
                <p class="text-white text-uppercase">Search and Discover!</p>
                <h3 class="text-white up mb-0">The Most Important New Technology</h3>
                <p class="text-white opacity-8">We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment.</p>
                <button type="button" class="btn btn-white btn-sm mt-3">Get Started</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 me-auto my-auto ms-md-5">
          <div class="p-3 info-horizontal d-flex">
            <div>
              <h5>1. Listen to Social Conversations</h5>
              <p>
                Gain access to the demographics, psychographics, and location of unique people who are interested and talk about your brand.
              </p>
            </div>
          </div>
          <div class="p-3 info-horizontal d-flex">
            <div>
              <h5>2. Performance Analyze</h5>
              <p>
                Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to gain rich insights from easy-to-use reports.
              </p>
            </div>
          </div>
          <div class="p-3 info-horizontal d-flex">
            <div>
              <h5>3. Social Conversions</h5>
              <p>
                Track actions taken on your website that originated from social, and understand the impact on your bottom line.
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr class="dark my-md-6 mt-2 mx-7">
      <div class="row">
        <div class="col-md-5 ms-auto my-auto">
          <div class="p-3 info-horizontal d-flex">
            <div>
              <h5>1. Always In Sync</h5>
              <p>
                No matter where you are, Trello stays in sync across all of your devices.
              </p>
            </div>
          </div>
          <div class="p-3 info-horizontal d-flex">
            <div>
              <h5>2. Work With Any Team</h5>
              <p>
                Whether it’s for work or even the next family vacation, Trello helps your team.
              </p>
            </div>
          </div>
          <div class="p-3 info-horizontal d-flex">
            <div>
              <h5>3. A Productivity Platform</h5>
              <p>
                Integrate the apps your team already uses directly into your workflow.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 me-auto my-auto ms-md-5">
          <div class="cursor-pointer">
            <div class="card card-background">
              <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1587614203976-365c74645e83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80')"></div>
              <div class="card-body pt-7 text-center">
                <p class="text-white text-uppercase">Meet and Chat!</p>
                <h3 class="text-white mb-0">How do Social Media Make the World Bigger</h3>
                <p class="text-white opacity-8">That’s what I do. That’s what I’m here for. Don’t be afraid to be wrong because you can’t learn anything from a compliment.</p>
                <button type="button" class="btn btn-white btn-sm mt-3">Get Started</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'includes/footer-7.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
