{% extends "layouts/base.html" %}

{% block title %} Error {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block body_class %} error-page {% endblock %}

{% block content %}

  {% include 'includes/navigation.html' %}
 
  <div class="page-header error-page header-filter">
    <div class="page-header-image" style="background-image: url('/static/assets/img/braden-collum.jpg');" loading="lazy"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title">404</h1>
          <h2 class="description">Page not found :(</h2>
          <h4 class="description">Ooooups! Looks like you got lost.</h4>
        </div>
      </div>
    </div>
  </div>

  {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
