{% extends "layouts/base.html" %}

{% block title %} Mobile App {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block body_class %} mobile-app {% endblock %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %}

  <!-- -------- START HEADER 12 w/ mobile ------- -->
  <header>
    <div class="page-header min-vh-75 bg-gradient-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-12 my-auto">
            <div class="brand">
              <h1 class="text-white mb-0"> Material Kit Premium</h1>
              <p class="text-white opacity-8"> Start your development with a badass material UI Kit for youy projects inspired by Material Design. </p>
              <button class="btn btn-white mt-4" type="button" name="button">Check more</button>
            </div>
          </div>
          <div class="col-lg-6 ms-auto">
            <img src="/static/assets/img/iphones.png" class="w-70 z-index-2 ms-5 d-none d-lg-block mt-7" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 12 w/ mobile ------- -->

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <!-- -------- START Features w/ image on left & title & text & 3 cols on soft background -------- -->
    <section class="pb-7 pt-6">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-md-8 col-12 text-start">
            <div class="text-start border-radius-lg">
              <h2>See our projects</h2>
              <p class="mb-4">
                <span class="font-weight-bold">The time</span>
                is now for it to be okay to be great. People in this world shun people for being great.
                For being a bright color. Contact us at <a href="javascript:;" class="text-info font-weight-normal">contact@material-design.com</a>.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 py-md-5 py-3">
            <div class="p-3 ps-0 text-center">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                <i class="material-icons opacity-10">speed</i>
              </div>
              <h5 class="mt-4">Fast</h5>
              <p>Creativity starts with an empty calendar and ends with a full one.</p>
            </div>
          </div>
          <div class="col-md-4 py-md-5 py-3">
            <div class="p-3 text-center">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                <i class="material-icons opacity-10">devices</i>
              </div>
              <h5 class="mt-4">Responsive</h5>
              <p>We get insulted by others, lose trust for those We get back.</p>
            </div>
          </div>
          <div class="col-md-4 py-md-5 py-3">
            <div class="p-3 text-center">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                <i class="material-icons opacity-10">social_distance</i>
              </div>
              <h5 class="mt-4">Unified</h5>
              <p>When playing, surround yourself with people happier than you.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- -------- END Features w/ image on left & title & text & 3 cols on soft background -------- -->
    <!-- -------- START Features w/ 6 cols w/ company logos & title & text -------- -->
    <section class="py-lg-7 py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>Get your own app</h2>
            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
          </div>
          <div class="col-lg-6 text-end d-flex flex-column justify-content-center">
            <button type="button" class="btn bg-gradient-info mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">Contact Us</button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
            <img class="width-32-px mb-4" src="/static/assets/img/logos/small-logos/logo-github.svg" alt="git">
            <h5>Payment vendor</h5>
            <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
            <img class="width-32-px mb-4" src="/static/assets/img/logos/small-logos/logo-google-cloud.svg" alt="google">
            <h5>Organize your team</h5>
            <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
            <img class="width-32-px mb-4" src="/static/assets/img/logos/small-logos/logo-amazon.svg" alt="amazon">
            <h5>E-commerce</h5>
            <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
            <img class="width-32-px mb-4" src="/static/assets/img/logos/small-logos/logo-dribbble.svg" alt="dribbble">
            <h5>Digital Product Design</h5>
            <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
            <img class="width-32-px mb-4" src="/static/assets/img/logos/small-logos/logo-zoom.svg" alt="zoom">
            <h5>Better Communication</h5>
            <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
            <img class="width-32-px mb-4" src="/static/assets/img/logos/small-logos/logo-twitter.svg" alt="tweet">
            <h5>Logo design</h5>
            <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- -------- END Features w/ 6 cols w/ company logos & title & text -------- -->
    <section class="py-lg-7 py-5">
      <div class="bg-gradient-primary position-relative mx-n3 overflow-hidden">
        <img src="/static/assets/img/shapes/pattern-lines.svg" alt="pattern-lines" class="position-absolute start-0 top-md-0 w-100 opacity-6">
        <div class="container pb-lg-9 pb-7 pt-7 postion-relative z-index-2">
          <div class="row">
            <div class="col-md-8 mx-auto text-center">
              <span class="badge bg-gradient-dark mb-2">Pricing</span>
              <h3 class="text-white">See our pricing</h3>
              <p class="text-white">You have Free Unlimited Updates and Premium Support on each package.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-lg-n8 mt-n7">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 mb-lg-auto mb-4 my-auto p-md-0 ms-auto">
              <div class="card border-radius-top-end-lg-0 border-radius-bottom-end-lg-0">
                <div class="card-header text-center pt-4 pb-3">
                  <h6 class="text-dark opacity-8 mb-0">Starter</h6>
                  <h1 class="font-weight-bolder">
                    <small>$</small>199
                  </h1>
                </div>
                <div class="card-body mx-auto pt-0">
                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Complete documentation</span>
                    </div>
                  </div>
                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Working materials in Sketch</span>
                    </div>
                  </div>
                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">500MB cloud storage</span>
                    </div>
                  </div>
                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Lite support</span>
                    </div>
                  </div>
                </div>
                <div class="card-footer pt-0">
                  <a href="javascript:;" class="btn w-100 bg-gradient-dark mb-0">
                    Buy now
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 p-md-0 mb-lg-auto mb-4 z-index-2">
              <div class="card">
                <div class="card-header text-center pt-4 pb-3">
                  <h6 class="text-dark opacity-8 text mb-0 mt-2">Pro</h6>
                  <h1 class="font-weight-bolder">
                    <small>$</small>299
                  </h1>
                </div>
                <div class="card-body mx-auto pt-0">
                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Complete documentation</span>
                    </div>
                  </div>
                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Working materials in Sketch</span>
                    </div>
                  </div>
                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">100GB cloud storage</span>
                    </div>
                  </div>
                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">500 team members</span>
                    </div>
                  </div>
                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Premium support</span>
                    </div>
                  </div>
                </div>
                <div class="card-footer pt-0">
                  <a href="javascript:;" class="btn btn-icon bg-gradient-primary d-block mb-0 icon-move-right">Try Pro
                    <i class="fas fa-arrow-right ms-2" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-lg-auto mb-4 my-auto p-md-0 me-auto">
              <div class="card border-radius-top-start-lg-0 border-radius-bottom-start-lg-0">
                <div class="card-header text-center pt-4 pb-2">
                  <h6 class="text-dark opacity-8 text mb-0">Premium</h6>
                  <h1 class="font-weight-bolder">
                    <small>$</small>399
                  </h1>
                </div>
                <div class="card-body mx-auto pt-0">
                  <div class="justify-content-start d-flex px-2 py-1 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Complete documentation</span>
                    </div>
                  </div>
                  <div class="justify-content-start d-flex px-2 py-1 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Working materials in Sketch</span>
                    </div>
                  </div>
                  <div class="justify-content-start d-flex px-2 py-1 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">2GB cloud storage</span>
                    </div>
                  </div>
                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Premium support</span>
                    </div>
                  </div>
                </div>
                <div class="card-footer pt-0">
                  <a href="javascript:;" class="btn w-100 bg-gradient-dark mb-0">Buy now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-lg-7 py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto text-center">
            <h2 class="mb-3">Think about us</h2>
            <p>That’s the main thing people are controlled by! Thoughts- their perception of themselves! </p>
          </div>
        </div>
        <div class="row mt-6">
          <div class="col-lg-4 col-md-8">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <img src="/static/assets/img/team-3.jpg" alt="..." class="avatar avatar-lg border-radius-lg shadow mt-n5">
                <div class="author">
                  <div class="name">
                    <span>Mathew Glock</span>
                    <div class="stats">
                      <small><i class="far fa-clock"></i> 5 min read</small>
                    </div>
                  </div>
                </div>
                <p class="mt-4">"If you have the opportunity to play this game of life you need to appreciate every moment."</p>
                <div class="rating mt-3">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-8 ms-md-auto">
            <div class="card bg-gradient-primary mb-5 mb-lg-0">
              <div class="card-body">
                <img src="/static/assets/img/marie.jpg" alt="..." class="avatar avatar-lg border-radius-lg shadow mt-n5">
                <div class="author align-items-center">
                  <div class="name">
                    <span class="text-white">Mathew Glock</span>
                    <div class="stats">
                      <small class="text-white">Posted on 28 February</small>
                    </div>
                  </div>
                </div>
                <p class="mt-4 text-white">"If you have the opportunity to play this game of life you need to appreciate every moment."</p>
                <div class="rating mt-3">
                  <i class="fas fa-star text-white"></i>
                  <i class="fas fa-star text-white"></i>
                  <i class="fas fa-star text-white"></i>
                  <i class="far fa-star text-white"></i>
                  <i class="far fa-star text-white"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-8">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <img src="/static/assets/img/team-2.jpg" alt="..." class="avatar avatar-lg border-radius-lg shadow mt-n5">
                <div class="author">
                  <div class="name">
                    <span>Mathew Glock</span>
                    <div class="stats">
                      <small><i class="far fa-clock"></i> 5 min read</small>
                    </div>
                  </div>
                </div>
                <p class="mt-4">"If you have the opportunity to play this game of life you need to appreciate every moment."</p>
                <div class="rating mt-3">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="horizontal dark my-5">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-6">
            <img class="w-100 opacity-6" src="/static/assets/img/logos/gray-logos/logo-apple.svg" alt="Logo">
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <img class="w-100 opacity-6" src="/static/assets/img/logos/gray-logos/logo-facebook.svg" alt="Logo">
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <img class="w-100 opacity-6" src="/static/assets/img/logos/gray-logos/logo-behance.svg" alt="Logo">
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <img class="w-100 opacity-6" src="/static/assets/img/logos/gray-logos/logo-spotify.svg" alt="Logo">
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <img class="w-100 opacity-6" src="/static/assets/img/logos/gray-logos/logo-coinbase.svg" alt="Logo">
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <img class="w-100 opacity-6" src="/static/assets/img/logos/gray-logos/logo-pinterest.svg" alt="Logo">
          </div>
        </div>
      </div>
    </section>
  </div>

  {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
